<div class="bg-hermit-green text-black top-0">
  <div class="container flex mx-auto px-5 py-3 flex-wrap justify-between">
    <h1 class="text-lg font-semibold"><%= link_to "Hermit Plus", root_path %></h1>
    <ul class="flex gap-[40px] text-m">
      <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      <li>contact</li>
    </ul>
  </div>
</div>